/* Copyright 2011 Google Inc. 
 * see Purple/license.txt for BSD license
 * johnjbarton@google.com
 */
 
.partLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.partLink {
  font-weight: bold;
  color: blue;
}
  
.console-error {
  color: red;
}  

.console-warn {
  color: yellow;
}  

.console-log {
  color: gray;
}  
.consoleCleared {
  color: white;
  background-color: black;
  text-align: center;
}

div.linkedText {
  width: 100%;
}
div.linkedText .messageLink { /* when the link is on a line with a message */
  float: right;
}

.hasMore + * {
  display: none;
}
/* .hasMore:first-child {
  display: block;
}  DOES NOT WORK */
.hasMore:before {
  content: url("../ui/icons/from-firebug/twistyClosed.png");
}

.hadMore:before {
  content: url("../ui/icons/from-firebug/twistyOpen.png");
}

.callStack {
  padding-left: 1em;
}

.callStackFrame {
  color: green;
}
.callStackFrame TD {
  padding-left: 2em;
}
.callStackFrame .partLink {
  text-align: right;
}