/* Copyright 2011 Google Inc. 
 * see Purple/license.txt for BSD license
 * johnjbarton@google.com
 */
 
.objectLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.objectLink {
  font-weight: bold;
  color: blue;
}
  
.internalError {
  color: red;
}  

.hasMore * {
 display: none;
}

.hasMore:before {
  content: url("../ui/icons/from-firebug/twistyClosed.png");
}

.hadMore:before {
  content: url("../ui/icons/from-firebug/twistyOpen.png");
}

.callStack {
  padding-left: 1em;
}

.callStackFrame {
  color: green;
  padding-left: 25px;
}

.callStackFrame .objectLink {
  text-align: right;
}