/* See license.txt, BSD
   Copyright 2011 Google, Inc. author: johnjbarton@google.com
*/

.purpleToolbar {
  background-color: gray;  /* fallback color if gradients are not supported */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E0E0E0)); 
  background-image: -webkit-linear-gradient(top, #FFFFFF, #E0E0E0); 
  background-image:    -moz-linear-gradient(top, #FFFFFF, #E0E0E0); 
  background-image:     -ms-linear-gradient(top, #FFFFFF, #E0E0E0); 
  background-image:      -o-linear-gradient(top, #FFFFFF, #E0E0E0); 
  background-image:         linear-gradient(top, #FFFFFF, #E0E0E0); /* standard, but currently unimplemented */
  padding: 5px;
}

.purpleToolbar > * { /* Any thing in the toolbar */
  height: 24px;
  padding 5px;
}

.omniboxLikeLeft {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.omniboxLikeRight {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; 
}
.omniboxLike {
  border: 1px solid #bcbcbc;
  box-shadow: inset 0 1px #f2f2f2;
  border-bottom: 2px groove;
  font-size: 13px;
  background-color: white;
  height: 24px;
}

#findAnythingInput {
  height: 24px;
  font-size: 13px;
  border-style: none;
  position: relative;
  top: -7px; /* xxxjjb I have no idea why this is needed */
  padding 2px;
}

.findAnythingIcon {
  width: 24px;
}

.findAnythingIcon > img { /* Where page actions live */
  height: 16px;
  width: 16px;
}

.purpleButton {
  border-radius: 5px;
}
.purpleButton > img { /* where browser actions live */
  height: 19px;
  width: 19px;
}
  