.bubbly {
  height: 300px; 
  width:  120ex;
}

.hidden {
  display: none;
}
.editingStack {
  width: 100%;
  height: 100px;
  font-size: small;
}
.editorRow {
  width: 100%;
}

.editorCell {
  height: 300px;
  width: 100%;
}

.editor {
  height: 100%;
  width: 100%;
  font-size: small;
}

/* The Orion embedded editor uses a table, and the UA styles have to be cleared */
table {
  font-size: small;
}