

.pMiniButton {
  font-size: 8px;  /* need the height to be 12px, so somehow 8px works */
}


.pMiniButtonTray {
  display: inline-block;
  height: 24px;
  color: #C6C6C6;
  cursor: default;
}

.pMiniButtonTray TD {
  background-color: #AAAAAA;  
  border-radius: 6px; /* circles */
  text-align: center;
  width: 12px;
  height: 12px;
  padding-top: 1px; /* poor man's centering */
}

table.pMiniButtonTray {
  border-spacing: 0px;
}

TD.pSelected {
  color: black;
  background-color: white;
}
