html, body, iframe {
  height: 100%;
  margin: 0px;  /* kill off any margin so we control */
} 

#poweredBy > * {
  background-color: #642d8b;
} 
/*
.editor {
  display: block;
  font-family: monospace;
  width: 80%;
  height: 300px;
}
*/


#purpleRoot {
  height: 100%;  /* Outer most flexbox needs guidance */
  width: 100%;
}

.purpleNode {
  
}

.purpleRow {
  min-width: 640px;
  width: 100%;
}

.purpleColumn {
 
}

.purpleCell {
  padding: 1px;
  border: 1px solid #EEEEEE;
}
.purpleCell:hover {
  border: 1px solid #642d8b;
}



#poweredBy {
   background-color: #642d8b; /* royal purple */
   width: 100%;  /* set the width so the contained items have something to center within */
}

.purpleAnnotation {
   color: #BDBDBD;  /* don't detract from the source */
   margin-right: 1ex;
 }

.viewLeftRuler {
   font-family:Verdana,Geneva,sans-serif;
   text-align: right; /* near the source line */
}

.token_undefined {
  outline: 1px solid red;
  background-color: #FF999E  /* distinct from keyword tokens */
}

.error {
  color: red;
}