body {
  
}  
/*
.editor {
  display: block;
  font-family: monospace;
  width: 80%;
  height: 300px;
}
*/
footer {
  background-color: #642d8b;
}

.purpleNode {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  
  box-pack: start;
  -webkit-box-pack: start;
  -moz-box-pack: start;

  box-align: stretch;
  -webkit-box-align: stretch;
  -mox-box-align: stretch;
}

.purpleRow {
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  
  box-align: stretch;
  -webkit-box-align: stretch;
  -mox-box-align: stretch;
  
  min-width: 640px;
}

.purpleColumn {
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}
.purpleCell {
  padding: 1px;
  border: 1px solid #EEEEEE;
}
.purpleCell:hover {
  border: 1px solid #642d8b;
}

.purpleRow > .center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}


#poweredBy {
   background-color: #642d8b; /* royal purple */
   width: 100%;  /* set the width so the contained items have something to center within */
}

.purpleAnnotation {
   color: #BDBDBD;  /* don't detract from the source */
   margin-right: 1ex;
 }

.viewLeftRuler {
   font-family:Verdana,Geneva,sans-serif;
   text-align: right; /* near the source line */
}

.token_undefined {
  outline: 1px solid red;
  background-color: #FF999E  /* distinct from keyword tokens */
}

.error {
  color: red;
}